<header xmlns:th="http://www.thymeleaf.org"
        data-th-fragment="frag-header">
    <section id="nav-title">
        <h1 id="div-h1">
            <a href="/">
                <img data-th-src="@{/img/logo-losna.png}" alt="logo Les Objets Sont Nos Amis" id="logo-LOSNA">
                <span data-th-text="#{nom-application}"></span>
            </a>
        </h1>
        <!--         h2 = Permet d'afficher le pseudo quand l'utilisateur est connecté-->
        <h2 id="welcome-user" data-th-if="${#authorization.expression('isAuthenticated()')}"
            data-th-text="${#authentication.getPrincipal().getPseudo()}"></h2>
    </section>
    <nav>
        <ul>
            <th:block>
                <li><a href="/encheres" data-th-text="#{frag-header.articles}"></a></li>
                <li><a data-th-if="${#authorization.expression('isAuthenticated()')}" href="/encheres/creer" data-th-text="#{frag-header.articles.creer}"></a></li>
                <li><a data-th-if="${#authorization.expression('isAuthenticated()')}" href="/profil/detail" data-th-text="#{frag-header.utilisateur}"></a></li>
                <li></li>
            </th:block>
        </ul>

        <div class="auth-buttons">
            <button id="signin-button" th:class="${#authorization.expression('isAuthenticated()') ? 'hidden' : 'show'}">
                <a href="/creer" >S'inscrire</a>
            </button>
            <button id="login-button" th:class="${#authorization.expression('isAuthenticated()') ? 'hidden' : 'show'}">
                <a href="/login">Se connecter</a>
            </button>
            <button id="logout-button" th:class="${#authorization.expression('isAuthenticated()') ? 'show' : 'hidden'}">
                <a href="/logout">Se déconnecter</a>
            </button>
        </div>
    </nav>
</header>
