<header xmlns:th="http://www.thymeleaf.org"
        data-th-fragment="frag-header">
    <section id="nav-title">
        <h1 id="div-h1">
            <a href="/">
                <img th:src="@{/img/test_logo.png}" alt="logo Les Objets Sont Nos Amis" id="logo-LOSNA">
                <span data-th-text="#{nom-application}"></span>
            </a>
        </h1>
    </section>
    <nav>
        <ul>
            <th:block>
                <li><a href="/articles" data-th-text="#{frag-header.articles}"></a></li>
                <li><a href="/articles/creer" data-th-text="#{frag-header.articles.creer}"></a></li>
                <li><a href="/view-profil/get-profil" data-th-text="#{frag-header.utilisateur}"></a></li>
                <li data-th-if="${!#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/view_profil()}"><button>S'inscrire / Se connecter</button></a></li>
                <li data-th-if="${#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/logout}"><button>Se déconnecter</button></a></li>
            </th:block>
        </ul>
    </nav>
</header>