<form xmlns:th="http://www.thymeleaf.org"
      data-th-fragment="frag-articles-form(titreForm, action)"
      data-th-action="@{${action}}"
      method="post"
      data-th-object="${article}">

    <!-- Récupération du titre > view-articles-create > message.properties -->
    <h1 data-th-text="${titreForm}"></h1>

    <ul>
        <li>
            <label for="inputUtilisateur" data-th-text="#{frag-articles-form.pseudo}"></label>
            <!-- Champ Utlisateur -->
            <select id="inputUtilisateur" data-th-field="${utilisateurList}" required>
                <option data-th-each="u : ${utilisateurList}"
                        data-th-text="${u.pseudo}"
                        data-th-value="${u.noUtilisateur}"></option>
            </select>
            <th:block data-th-if="${!#strings.isEmpty(action)}">
                <!-- S'il est vide -->
                <div data-th-replace="~{fragments/errors/frag-error :: frag-error('categorie')}"></div>
            </th:block>
        </li>
        <li>
            <!-- Champ Name -->
            <label for="inputName" data-th-text="#{frag-articles-form.name}"></label>
            <input type="text"
                   id="inputName"
                   data-th-disabled="${#strings.isEmpty(action)}"
                   data-th-field="*{nomArticle}"
                   required/>
            <th:block data-th-if="${!#strings.isEmpty(action)}">
                <!-- S'il est vide -->
                <div data-th-replace="~{fragments/errors/frag-error :: frag-error('nomArticle')}"></div>
            </th:block>
        </li>
        <li>
            <!-- Champ Description -->
            <label for="inputDescription" data-th-text="#{frag-articles-form.description}"> </label>
            <input type="text"
                   id="inputDescription"
                   data-th-disabled="${#strings.isEmpty(action)}"
                   data-th-field="*{description}"
                   required/>
            <th:block data-th-if="${!#strings.isEmpty(action)}">
                <!-- S'il est vide -->
                <div data-th-replace="~{fragments/errors/frag-error :: frag-error('description')}"></div>
            </th:block>
        </li>
        <li>
            <label for="inputCategorie" data-th-text="#{frag-articles-form.categorie}"></label>
            <!-- Champ Catégorie -->
            <select id="inputCategorie" data-th-field="${categoriesList}" required>
                <option data-th-each="c : ${categoriesList}"
                        data-th-text="${c.libelle}"
                        data-th-value="${c.noCategorie}"></option>
            </select>
            <th:block data-th-if="${!#strings.isEmpty(action)}">
                <!-- S'il est vide -->
                <div data-th-replace="~{fragments/errors/frag-error :: frag-error('categorie')}"></div>
            </th:block>
        </li>
        <li>
            <!-- Champ Photo -->
            <label for="inputPhoto" data-th-text="#{frag-articles-form.photo}"> </label>
            <input type="file"
                   id="inputPhoto"
            >
        </li>
        <li>
            <!-- Champ Mise à Prix -->
            <label for="inputMiseAPrix" data-th-text="#{frag-articles-form.miseaprix}"> </label>
            <input type="number"
                   id="inputMiseAPrix"
                   data-th-disabled="${#strings.isEmpty(action)}"
                   data-th-field="*{miseAPrix}"
                   min="1"
                   max="150"
                   step="1"
                   required/>
            <th:block data-th-if="${!#strings.isEmpty(action)}">
                <!-- S'il est vide -->
                <div data-th-replace="~{fragments/errors/frag-error :: frag-error('miseAPrix')}"></div>
            </th:block>
        </li>
        <li>
            <!-- Champ Date Début Enchère -->
            <label for="inputDateDebutEncheres" data-th-text="#{frag-articles-form.debutenchere}"> </label>
            <input type="date"
                   id="inputDateDebutEncheres"
                   data-th-disabled="${#strings.isEmpty(action)}"
                   data-th-field="*{dateDebutEncheres}"
                   disabled
                   required/>
            <th:block data-th-if="${!#strings.isEmpty(action)}">
                <!-- S'il est vide -->
                <div data-th-replace="~{fragments/errors/frag-error :: frag-error('dateFinEncheres')}"></div>
            </th:block>
        </li>
        <li>
            <!-- Champ Date Fin Enchère -->
            <label for="inputDateFinEncheres" data-th-text="#{frag-articles-form.finenchere}"> </label>
            <input type="date"
                   id="inputDateFinEncheres"
                   data-th-disabled="${#strings.isEmpty(action)}"
                   data-th-field="*{dateFinEncheres}"
                   disabled
                   required/>
            <th:block data-th-if="${!#strings.isEmpty(action)}">
                <!-- S'il est vide -->
                <div data-th-replace="~{fragments/errors/frag-error :: frag-error('dateFinEncheres')}"></div>
            </th:block>
        </li>
    </ul>

    <button id="signin-button">Enregistrer</button>
    <button id="reset-button">Annuler</button>

</form>