<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr" data-th-fragment="layout(title,main)">

<head>
    <meta charset="UTF-8">
    <title data-th-replace="${title}"></title>
    <link rel="stylesheet" data-th-href="@{/CSS/style.css}">
</head>

<body>
<header>
    <h1>Les Objets sont nos amis</h1>
<!--    h2 : Indique le nom de l'utilisateur une fois connecté -->
    <h2 data-th-if="${#authorization.expression('isAuthenticated()')}" data-th-text="${#authentication.getPrincipal().getUsername()}"></h2>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">S'inscrire - Se Connecter</a></li>

        </ul>
    </nav>
</header>

<main data-th-replace="${main}"></main>

</body>
</html>
