<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-fragment="layout-objets-amis(titrePage, contenuPage, ressourcesSupp)">

<head>
    <meta charset="UTF-8">
    <!-- Définition titre -->
    <title data-th-replace="${titrePage}" data-th-text="#{nom-application}"></title>

    <!-- Ressources par défaut -->
    <link rel="stylesheet" data-th-href="@{/style.css}">

    <!-- Ajout autres ressources -->
    <th:block data-th-replace="${ressourcesSupp} ?: ~{}"></th:block>
</head>

<body>
<header>
    <h1>Les Objets sont nos amis</h1>
<!--    h2 : Indique le nom de l'utilisateur une fois connecté -->
    <h2 data-th-if="${#authorization.expression('isAuthenticated()')}" data-th-text="${#authentication.getPrincipal().getUsername()}"></h2>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li data-th-if="${!#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/view_profil()}">S'inscrire - Se Connecter</a></li>
            <li data-th-if="${#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/logout}">Se Déconnecter</a></li>
        </ul>
    </nav>
</header>

<main data-th-replace="${main}"></main>

</body>
</html>
