<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-fragment="layout-objets-amis(titrePage, contenuPage, ressourcesSupp)">
<head>
    <meta charset="UTF-8">
    <!-- Définition titre -->
    <title data-th-replace="${titrePage}" data-th-text="#{nom-application}"></title>

    <!-- Ressources par défaut -->
    <link rel="stylesheet" data-th-href="@{/style.css}">

    <!-- Ajout autres ressources -->
    <th:block data-th-replace="${ressourcesSupp} ?: ~{}"></th:block>
</head>
<body>
<!-- Fragment d'entête -->
<div data-th-replace="~{fragments/frag-header :: frag-header}"></div>

<!-- Fragment du contenu de la page -->
<main data-th-replace="${contenuPage} ?: ~{}">Contenu de la page
</main>
</body>
</html>
