@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*---------------------------------------------*/
/*               GLOBAL STYLES                 */
/*---------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--BackGround);
    color: var(--PrimaryColor);
    font-size: var(--font-size-default);
}

/*---------------------------------------------*/
/*         DECLARATION DES VARIABLES           */
/*---------------------------------------------*/
:root {
    /* Couleurs */
    --PrimaryColor: #0FA3B1;
    --SecondaryColor: #8DD2EC;
    --AccentColor1: #FDFCFA;
    --AccentColor2: #EDDEA4;
    --AccentColor3: #F7A072;
    --AccentColor4: #F1C7A6;
    --WhiteMilk: #FDFFF5;
    --Black: #333333;
    --BackGround: var(--WhiteMilk);
    --ColorResetButton: #D3D3D3;

    /* Conversion de px en em */
    --10px: 0.625em;
    --12px: 0.75em;
    --14px: 0.875em;
    --20px: 1.25em;
    --40px: 2.5em;

    /* Font-size */
    --font-size-default: 1em;
    --font-size-h1: 1.5em;
    --font-size-h2: 1.25em;
    --font-size-h3: 1.15em;
    --WelcomeUser: 2em;
}

/*---------------------------------------------*/
/*                    GLOBAL                   */
/*---------------------------------------------*/
/*   CLASSES   */
h1 {
    padding: var(--10px);
}

h2 {
    font-size: var(--font-size-h2);
}

ul {
    list-style-type: none;
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.show {
    display: flex;
}
/*   ID   */

/*---------------------------------------------*/
/*                    HEADER                   */
/*---------------------------------------------*/
/*   CLASSES   */
header {
    background-color: var(--PrimaryColor);
    color: var(--AccentColor1);
    padding: var(--12px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

/*   ID   */

/*---------------------------------------------*/
/*              NAVIGATION MENU                */
/*---------------------------------------------*/
/*   CLASSES   */
/* Menu de navigation sous le titre */
nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: var(--20px);
    padding: var(--20px);
    font-size: var(--font-size-h2);
    gap: 3em;
}

/* Style des liens dans le menu */
nav ul li a {
    text-decoration: none;
    color: var(--AccentColor1);
    font-weight: bold;
}

/* Changement de couleur au survol des liens */
nav ul li a:hover {
    border: 3px solid var(--AccentColor1);
    border-radius: 12px;
    padding: 8px;
}

/*   ID   */
/* Zone du titre de navigation (logo et texte) */
#nav-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 10vh;
}

#logo-LOSNA {
    max-width: 7vw;
    margin-right: var(--10px);
}

#nav-title a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--AccentColor1);
    font-size: var(--font-size-h1);
    font-weight: bold;
}

#div-h1 {
    display: flex;
    justify-content: center;
}

/*---------------------------------------------*/
/*                  BUTTONS                    */
/*---------------------------------------------*/
/*   CLASSES   */
button {
    background-color: var(--AccentColor1);
    border: 3px solid var(--PrimaryColor);
    border-radius: 50px;
    cursor: pointer;
    padding: 0.75em 1.25em;
    font-size: var(--font-size-default);
    font-weight: bold;
    transition: background-color 0.3s ease;
    white-space: nowrap; /* Empêche le texte de se casser */
}

/* div s'inscrire / se connecter */
.auth-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: var(--20px);
    right: var(--20px);
    gap: var(--14px);
}

/*   ID   */
#signin-button, #login-button, #logout-button {
    background-color: var(--PrimaryColor);
    border: 3px solid var(--AccentColor1);
    border-radius: 35px;
    color: var(--WhiteMilk);
}
#signin-button a, #login-button a, #logout-button a {
    text-decoration: none;
    color: var(--AccentColor1);
}

#signin-button:hover, #login-button:hover, #logout-button:hover {
    background-color: var(--AccentColor3);
}


#reset-button {
    background-color: var(--ColorResetButton);
    color: var(--WhiteMilk);
    border-color: var(--ColorResetButton);
}

#welcome-user{
    font-size: var(--WelcomeUser);
    margin-top: 8rem;
    margin-right: var(--20px);
}
/* Changement de couleur au survol des boutons */
button:hover {
    background-color: var(--PrimaryColor);
    color: var(--WhiteMilk);
}

.auth-buttons > button:hover {
    border-color: var(--AccentColor1);
}

#reset-button:hover {
    background-color: var(--AccentColor3);
    border-color: var(--AccentColor3);
}


/*---------------------------------------------*/
/*                   FORM                     */
/*---------------------------------------------*/
/*   CLASSES   */
/* Style du formulaire */
form {
    background-color: var(--AccentColor1);
    padding: var(--20px);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin: var(--40px) auto;
}

/* Style des étiquettes du formulaire */
label {
    display: block;
    font-size: var(--font-size-h3);
    font-weight: bold;
    margin-bottom: var(--10px);
    color: var(--PrimaryColor);
}

/* Style des champs de saisie, sélection et textarea */
input, select, textarea, option {
    width: 100%;
    height: 2.5em;
    padding: 2px;
    margin-bottom: var(--20px);
    border: 1px solid var(--AccentColor3);
    border-radius: 4px;
    background-color: var(--AccentColor1);
    font-size: 16px;
    color: var(--Black);
}

test {
    color: deeppink;
}

select {
    color: var(--Black);
}

input::placeholder {
    color: var(--SecondaryColor);
    font-style: italic;
}


/*Hover du select input changer le bleu foncé?*/
/*select option:hover, select option:checked {*/
/*    background-color: var(--SecondaryColor);*/
/*}*/

/*   ID   */


/*---------------------------------------------*/
/*                PAGE ENCHERES                */
/*---------------------------------------------*/
/*   CLASSES   */
/* Section filtres */
.view-articles-filtres {
    margin: 1em;
}

/* Section affichage de chaque article */
.liste-articles-container {
    width: 100%;
    padding: 0.75em;
}

/* Div contenant tout ce qui concerne l'article */
.article-container {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--AccentColor1);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 1em;
    padding: var(--20px);
    min-height: 20vh;
    max-height: 40vh;
    width: 40%;
    margin: var(--20px) auto;
}

.img-article {
    display: none;
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex: 1;*/
    /*border-radius: 12px;*/
    /*min-width: 10vw;*/
}

/* Affichage de l'article */
.article-template {
    flex: 1;
    min-width: 10vw;
    margin-top: 2em;
}

.show-article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.search-button {
    display: flex;
    justify-content: center;
}

.h3-link-article {
    font-size: var(--font-size-h3);
    font-weight: bold;
}

.h3-link-article a {
    color: var(--PrimaryColor);
    /*text-decoration: none;*/
}

.h3-link-article a:hover {
    color: var(--AccentColor3);
    text-decoration: underline;
}

/*   ID   */
/* Section affichage des filtres */
#filtres {
    width: 40%;
}

#categorie {
    width: 35%;
}

#categorie option {
    padding: 0;
}


/*---------------------------------------------*/
/*                   TEMPLATE                    */
/*---------------------------------------------*/
/*   CLASSES   */
/*.profil-create-form {
mettre sur 2 colonnes?
*/
/*}*/
/*   ID   */


/*---------------------------------------------*/
/*              PAGE PROFIL-DETAIL             */
/*---------------------------------------------*/
/*   CLASSES   */

table {
    border: 2px solid var(--PrimaryColor);
}

.btns-delete-update-section {
    display: flex;
    justify-content: center;
    padding: var(--20px);
    margin: var(--10px) auto;
    gap: 1em;
}

.btns-delete-update-section form {
    background-color: var(--BackGround);
    box-shadow: none;
}

/*   ID   */


/*---------------------------------------------*/
/*                   TABLE                     */
/*---------------------------------------------*/
/*   CLASSES   */
/* Style du tableau */
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: var(--20px);
}

/* Style des cellules du tableau */
table th, table td {
    padding: var(--20px);
    text-align: left;
    border-bottom: 1px solid var(--SecondaryColor);
}

/* Style des en-têtes du tableau */
table th {
    background-color: var(--AccentColor3);
    color: var(--AccentColor1);
    font-size: var(--font-size-h2);
}

/* Style des lignes paires du tableau */
table tr:nth-child(even) {
    background-color: var(--AccentColor1);
}

/* Style au survol des lignes du tableau */
table tr:hover {
    /*background-color: var(--SecondaryColor);*/
    color: var(--Black);
    font-weight: bold;
    border: 3px solid var(--Black);
}

/*   ID   */
/*==================================================================================*/
/*---------------------------------------------*/
/*                   TEMPLATE                    */
/*---------------------------------------------*/
/*   CLASSES   */
/*   ID   */
