<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-objets-amis(
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css})}">

<head>
    <!-- Titre de la page -->
    <title data-th-text="#{view-articles.title}"></title>
    <!-- Pages de ressources supplémentaires -->
    <th:block id="ressources-css">
    </th:block>
</head>

<body>
<main>
    <h1 data-th-text="#{view-articles.h1}"></h1>

    <section class="view-articles-filtres">
        <form th:action="@{/search-articles}" method="get">
            <label for="filtres">Filtres :</label>
            <!--            <label for="filtres" data-th-text="#{view-articles.filtres}">Filtres :</label>-->
            <!-- Barre de recherche -->
            <input type="text" name="filtres" id="filtres" placeholder="Le nom de l'article contient">

            <!-- Sélection de la catégorie avec les options dynamiques -->
            <label for="categorie">Catégorie :</label>
            <!--            <label for="categorie" data-th-text="#{frag-articles-form.categorie}">Catégorie :</label>-->
            <select name="categorie" id="categorie">
                <option th:each="c : ${categoriesList}"
                        th:value="${c.noCategorie}"
                        th:text="${c.libelle}">
                </option>
            </select>
            <div class="search-button">
                <button type="submit">Rechercher</button>
            </div>
            <!--            <button type="submit" data-th-text="#{view-articles.rechercher}">Rechercher</button>-->
        </form>
    </section>


    <!--                    <li class="h3-link-article"><a href="#">PC Gamer pour travailler</a></li>-->
    <!--                    <li><span class="bold">Prix :</span> 210 points</li>-->
    <!--                    <li><span class="bold">Fin de l'enchère :</span> 10/08/2018</li>-->
    <!--                    <li><span class="bold">Vendeur :</span> Jojo44</li>-->


    <!--code section affichage des encheres qui ne fonctionne pas -->
    <section class="liste-articles-container">
        <div>
            <div class="article-container" data-th-each="article : ${articleVendus}">
                <div class="img-article">
                    <!--                        img de l'article si pas d'image-->
                    <img data-th-src="@{/img/sell.svg}" data-th-alt="${article.nomArticle}">
                    <!--                        <img data-th-src="@{/img/{image}(image=${article.image})}" data-th-alt="${article.nomArticle}">-->
                </div>

                <div class="article-template">
                    <ul>
                        <li class="h3-link-article"><a  href="#" data-th-text="${article.nomArticle}"></a></li>
                        <li>
                            <span class="bold">Prix : </span>
                            <span data-th-text="${article.prixVente}"></span>
                        </li>
                        <li>
                            <span class="bold">Fin de l'enchère : </span>
                            <span data-th-text="${article.dateFinEncheres}"></span>
                        </li>
                        <li>
                            <span class="bold">Vendeur : </span>
                            <span data-th-text="${article.vendeur}"></span>
                        </li>
                    </ul>
                </div>
                <div class="show-article">
                    <button>Voir cette annonce</button>
                </div>
            </div>
    </section>

</main>
</body>
</html>