<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-objets-amis(
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css})}">

<head>
    <!-- Titre de la page -->
    <title data-th-text="#{view-articles.title}"></title>
    <!-- Pages de ressources supplémentaires -->
    <th:block id="ressources-css">
    </th:block>
</head>

<body>
<main>
    <h1 data-th-text="#{view-articles.h1}"></h1>

    <section class="view-articles-filtres">
        <form th:action="@{/search-articles}" method="get">
            <label for="filtres">Filtres :</label>
            <!--            <label for="filtres" data-th-text="#{view-articles.filtres}">Filtres :</label>-->
            <!-- Barre de recherche -->
            <input type="text" name="filtres" id="filtres" placeholder="Le nom de l'article contient">

            <!-- Sélection de la catégorie avec les options dynamiques -->
            <label for="categorie">Catégorie :</label>
            <!--            <label for="categorie" data-th-text="#{frag-articles-form.categorie}">Catégorie :</label>-->
            <select name="categorie" id="categorie">
                <!-- Itération dynamique sur la liste des catégories -->
                <option value="toutes" selected>Toutes</option>
                <option value="mobilier">Mobilier</option>
                <option value="jardin">Jardin</option>
                <option th:each="c : ${categoriesList}"
                        th:value="${c.noCategorie}"
                        th:text="${c.libelle}">
                </option>
            </select>
            <div class="search-button">
                <button type="submit">Rechercher</button>
            </div>
            <!--            <button type="submit" data-th-text="#{view-articles.rechercher}">Rechercher</button>-->
        </form>
    </section>

<!--    <section class="liste-articles-container">-->

<!--        <div class="article-container">-->
<!--            <div class="img-article">-->
<!--                <img src="./img/shoppingmode.svg" alt="photo de l'article">-->
<!--            </div>-->
<!--            <div class="article-template">-->
<!--                <ul>-->
<!--                    <li class="h3-link-article"><a href="#">PC Gamer pour travailler</a></li>-->
<!--                    <li><span class="bold">Prix :</span> 210 points</li>-->
<!--                    <li><span class="bold">Fin de l'enchère :</span> 10/08/2018</li>-->
<!--                    <li><span class="bold">Vendeur :</span> Jojo44</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="show-article">-->
<!--                <button>Voir cette annonce</button>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="article-container">-->
<!--            <div class="img-article">-->
<!--                <img src="./img/image.svg" alt="photo de l'article">-->
<!--            </div>-->
<!--            <div class="article-template">-->
<!--                <ul>-->
<!--                    <li class="h3-link-article"><a href="#">Rocket stove pour riz et pâtes</a></li>-->
<!--                    <li><span class="bold">Prix :</span>185 points</li>-->
<!--                    <li><span class="bold">Fin de l'enchère :</span> 09/10/2018</li>-->
<!--                    <li><span class="bold">Vendeur :</span> NineJea</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="show-article">-->
<!--                <button>Voir cette annonce</button>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="article-container">-->
<!--            <div class="img-article">-->
<!--                <img src="./img/image.svg" alt="photo de l'article">-->
<!--            </div>-->
<!--            <div class="article-template">-->
<!--                <ul>-->
<!--                    <li class="h3-link-article"><a href="#">PC Gamer pour travailler</a></li>-->
<!--                    <li><span class="bold">Prix :</span> 210 points</li>-->
<!--                    <li><span class="bold">Fin de l'enchère :</span> 10/08/2018</li>-->
<!--                    <li><span class="bold">Vendeur :</span> Jojo44</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="show-article">-->
<!--                <button>Voir cette annonce</button>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="article-container">-->
<!--            <div class="img-article">-->
<!--                <img src="./img/image.svg" alt="photo de l'article">-->
<!--            </div>-->
<!--            <div class="article-template">-->
<!--                <ul>-->
<!--                    <li class="h3-link-article"><a href="#">Rocket stove pour riz et pâtes</a></li>-->
<!--                    <li><span class="bold">Prix :</span>185 points</li>-->
<!--                    <li><span class="bold">Fin de l'enchère :</span> 09/10/2018</li>-->
<!--                    <li><span class="bold">Vendeur :</span> NineJea</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="show-article">-->
<!--                <button>Voir cette annonce</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

    <!--code section affichage des encheres qui ne fonctionne pas -->
        <section class="liste-articles-container">
            <div class="article-container">
                <div class="article-container" data-th-each="article : ${articleVendus}">
                    <div class="img-article">
                        <img data-th-src="@{/img/construction.svg}" data-th-alt="${article.nomArticle}">
                    </div>
                    <div class="article-template">
                        <ul>
                            <li><a href="#" data-th-text="${article.nomArticle}"></a></li>
                            <li data-th-text="${article.prixVente}">Prix :</li>
                            <li data-th-text="${article.dateFinEncheres}">Fin de l'enchère :</li>
                            <li data-th-text="${article.vendeur}">Vendeur :</li>
                        </ul>
                    </div>
                    <div class="show-article">
                        <button>Voir cette annonce</button>
                    </div>
                </div>
        </section>


    <!--    à supprimer quand ça fonctionnera    -->
    <!--    <table>-->
    <!--        &lt;!&ndash; Entête Tableau &ndash;&gt;-->
    <!--        <thead>-->
    <!--        <tr>-->
    <!--            &lt;!&ndash; Nom entêtes définit dans messages.properties &ndash;&gt;-->
    <!--            <th data-th-text="#{view-articles.numero}"></th>-->
    <!--            <th data-th-text="#{view-articles.nom-article}"></th>-->
    <!--            <th data-th-text="#{view-articles.description}"></th>-->
    <!--            <th data-th-text="#{view-articles.date-debut-encheres}"></th>-->
    <!--            <th data-th-text="#{view-articles.date-fin-encheres}"></th>-->
    <!--            <th data-th-text="#{view-articles.prix}"></th>-->
    <!--        </tr>-->
    <!--        </thead>-->
    <!--        &lt;!&ndash; Corps Tableau &ndash;&gt;-->
    <!--        <tbody>-->
    <!--        <tr data-th-each="article : ${articleVendus}">-->
    <!--            <td data-th-text="${article.noArticle}"></td>-->
    <!--            <td data-th-text="${article.nomArticle}"></td>-->
    <!--            <td data-th-text="${article.description}"></td>-->
    <!--            <td data-th-text="${article.dateDebutEncheres}"></td>-->
    <!--            <td data-th-text="${article.dateFinEncheres}"></td>-->
    <!--            <td data-th-text="${article.prixVente}"></td>-->
    <!--        </tr>-->
    <!--        </tbody>-->
    <!--    </table>-->
</main>
</body>
</html>