<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-objets-amis(
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css})}">

<head>
    <!-- Titre de la page -->
    <title data-th-text="#{view-articles-create.title}"></title>
    <!-- Pages de ressources supplémentaires -->
    <th:block id="ressources-css">
    </th:block>
</head>
<body>
<main>
    <form data-th-replace="~{fragments/frag-articles-form ::
                frag-articles-form(#{view-articles-form.h1}, '/articles/creer')}">
    </form>
</main>
</body>
</html>
