<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-objets-amis(
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css})}">

<head>
    <!-- Titre de la page -->
    <title data-th-text="#{frag-header.utilisateur}"></title>
    <!-- Pages de ressources supplémentaires -->
    <th:block id="ressources-css">
    </th:block>
</head>
<main>
    <h1>Mon profil</h1>
    <form th:action="@{/profil/detail}" data-th-object="${utilisateurProvisoire}">
    <ul>
            <li>
                <span class="action">
                    <label for="email" data-th-text="#{view-profil.th.email}"></label>
                    <input type="text" id="email" name="email" th:field="*{email}">
                    <button type="submit">Rechercher</button>
                </span>
            </li>
        </ul>
    </form>
</main>
</html>