<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{layouts/layout :: layout-objets-amis(
					titrePage=~{:: title},
					contenuPage=~{:: main},
					ressourcesSupp=~{:: #ressources-css})}">

<head>
    <!-- Titre de la page -->
    <title data-th-text="#{frag-header.utilisateur}"></title>
    <!-- Pages de ressources supplémentaires -->
    <th:block id="ressources-css">
    </th:block>
</head>
<main>
    <table>
        <thead>
        <tr>
            <th data-th-text="#{view-profil.th.pseudo}"></th>
            <th data-th-text="#{view-profil.th.nom}"></th>
            <th data-th-text="#{view-profil.th.prenom}"></th>
            <th data-th-text="#{view-profil.th.email}"></th>
            <th data-th-text="#{view-profil.th.telephone}"></th>
            <th data-th-text="#{view-profil.th.rue}"></th>
            <th data-th-text="#{view-profil.th.codePostal}"></th>
            <th data-th-text="#{view-profil.th.ville}"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td data-th-text="${utilisateur.pseudo}"></td>
            <td data-th-text="${utilisateur.nom}"></td>
            <td data-th-text="${utilisateur.prenom}"></td>
            <td data-th-text="${utilisateur.email}"></td>
            <td data-th-text="${utilisateur.telephone}"></td>
            <td data-th-text="${utilisateur.rue}"></td>
            <td data-th-text="${utilisateur.codePostal}"></td>
            <td data-th-text="${utilisateur.ville}"></td>

        </tr>

        <!--        Bouton suppression Profil                -->
        <tr>
            <form method="post" th:action="@{/profil/supprimer}" style="display:inline;">
                <input type="hidden" name="email" th:value="${utilisateur.email}">
                <button type="submit" class="link-button">Supprimer ce profil</button>
            </form>

        </tr>

        <!--        Bouton modifier Profil                -->
        <tr>
            <td colspan="8" style="text-align: center; padding-top: 10px;">
                <form method="get" th:action="@{/profil/modifier}">
                    <input type="hidden" name="email" th:value="${utilisateur.email}">
                    <button type="submit" class="btn btn-primary">Modifier ce profil</button>
                </form>
            </td>
        </tr>



        </tbody>
    </table>
</main>
</html>

